/******************************************************
-------------------------------------------------------
1. Main
-------------------------------------------------------
*******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  font-family: 'Electrolize', sans-serif;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: #fff;
  text-decoration: none;
}

a:hover {
  outline: none;
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}


.main,
.carousel,
.carousel-inner,
.carousel-item {
  height: 100%
}

.container {
  height: 100%;
  max-width: 1280px;
}


/******************************************************
-------------------------------------------------------
2. Header
-------------------------------------------------------
*******************************************************/
#header {
  z-index: 997;
  height: 10vh;
  padding: 40px 0px;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #header {
    padding: 0px;
  }
}

#header .logo {
  margin: 0;
  padding: 0;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  height: 9vh;
  max-width: 100%;
}

@media (max-width: 768px) {
  #header .logo img {
    max-width: 100%;
    height: 8vh !important;
  }
}

/*---------------
# Navigation Menu
----------------*/
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 40px;
}

.nav-menu a {
  display: block;
  transition: 0.3s;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-menu a:hover {
  color: rgba(255, 173, 87, 1);
}

.nav-menu .new-nav-menu-li a span {
  top: -15px;
  right: -15px;
  font-size: 9px;
  position: absolute;
  border-radius: 10px;
  padding: 0px 3.5px 0 4px;
  border: 1px solid #f3c111;
  box-shadow: 0px 0px 12px #f3c111;
}

/* buy button */
.buy-now-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
  margin-left: 15px;
  border-radius: 60px;
  position: relative;
  background: #000;
  border: 1px solid rgba(255, 173, 87, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-now-btn:hover {
  /* background: #b6f09a; */
  background: rgba(255, 173, 87, 1);
  color: #000;
}

.buy-now-btn:hover i {
  color: #000;
}


@media (max-width: 992px) {
  .buy-now-btn {
    margin-right: 7.5%;
  }
}

@media (max-width: 768px) {
  .buy-now-btn {
    font-size: 14px;
    margin-right: 15%;
  }

  .buy-now-btn.btn-next {
    font-size: 16px;
    margin-right: 15%;
  }
}

@media (max-width: 330px) {
  .buy-now-btn {
    font-size: 12px;
    margin-right: 15%;
  }

  .buy-now-btn.btn-next {
    font-size: 12px;
    margin-right: 15%;
  }
}


#buy-glowing-button::before,
#buy-glowing-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 60px;
  background: rgba(255, 173, 87, 1);
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}

#buy-glowing-button::after {
  background: rgba(255, 173, 87, 1);
  animation: ripple-2 2s infinite ease-in-out;
  animation-delay: 0.3s;
}

@keyframes ripple-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  top: 1.1px !important;
  height: 10vh;
  right: 15px;
  position: fixed;
  line-height: 1;
  font-size: 28px;
  text-align: right;
  border: 0;
  outline: none !important;
  z-index: 9998;
  cursor: pointer;
  background: none;
  transition: all 0.4s;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  top: 10vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 9998;
  padding: 10px 0;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(32, 32, 32, .6);
  box-shadow: 0 2px 2.4rem 0 rgb(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.2s;
}

/* 
.mobile-nav-overly {
top: 0;
left: 0;
width: 100%;
height: 100%;
position: fixed;

display: none;
overflow: hidden;
transition: ease-in-out 0.2s;

z-index: 9997;
background: rgba(40, 58, 90, 0.6);
} 
*/

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  outline: none;
  display: block;
  position: relative;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
}

.mobile-nav a span {
  top: 5px;
  left: 150px;
  font-size: 11px;
  position: absolute;
  border-radius: 10px;
  padding: 0px 4px 0 5px;
  border: 1px solid #f3c111;
  box-shadow: 0px 0px 12px #f3c111;
}

@media (max-width: 992px) {
  .mobile-nav a span {
    left: 115px;
    padding: 0px 4px 0 4.4px;
  }
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/******************************************************
-------------------------------------------------------
3. Common
-------------------------------------------------------
*******************************************************/

/*---------------
  # Pop-up block
----------------*/
.news_pop_up_block {
  margin-left: 0;
  margin-right: 0;
  bottom: 0%;
  width: 100%;
  z-index: 99;
  position: absolute;
  cursor: pointer;
}

.news_pop_up_block .news_pop_up_box {
  height: 50px;
  position: relative;
  border: 2px solid #A4E3E6;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background-color: rgba(32, 32, 32, .6);
  box-shadow: 0 2px 2.4rem 0 rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .news_pop_up_block .news_pop_up_box {
    text-align: center;
    padding: 40px 15px;
  }
}

.news_pop_up_block .news_pop_up_box p {
  margin: 0;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  padding-top: 6px;
}

.news_pop_up_block .news_pop_up_box p span {
  position: relative;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .news_pop_up_block .news_pop_up_box p span {
    display: block;
    margin: 5px 2px 0;
  }
}

.news_pop_up_block .news_pop_up_box p span img {
  width: 140px;
  height: 25px;
  top: -4px;
  position: relative;
}

@media (max-width: 992px) {
  .news_pop_up_block .news_pop_up_box p {
    font-size: 14px;
  }
}


.news_pop_up_block .news_close_button {
  top: -30%;
  right: -0.925%;
  padding: 2px 8px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #a4e3e6 !important;

  font-size: 14px;
  color: #a4e3e6 !important;
}

@media (max-width: 992px) {
  .news_pop_up_block .news_close_button {
    top: -20%;
    color: #a4e3e6 !important;
  }
}


/******************************************************
-------------------------------------------------------
3. Vertical Bootstrap Slider
-------------------------------------------------------
*******************************************************/
.carousel .carousel-item-next.carousel-item-left,
.carousel .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel .carousel-item-next,
.carousel .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.carousel .carousel-item-prev,
.carousel .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}